.tag-container:hover {
  border: 1px solid #c4b5fd !important
}

.list-item:hover {
 background-color: #f5f5f4; 
}

.input-icon.clean-btn:hover {
  color: #44403c;
}

.delete-icon:hover {
  color: #57534e !important
}

.input-icon {
  color: #a8a29e;
  transition: all 200ms;
}